/* home page */

header {
    background-color: black;
    padding: 30px;
}

h1 {
    text-align: center;
    color: aqua;
    background-color: black;
    padding: 10px;
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    /* padding: 10px; */
}

a:hover {
    color: blue;
}

a:visited {
    color: limegreen;
}

li {
    display: inline;
}

body {
    background-image: url('./Background\ Img/rickandmortyinacar.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100px;
    height: 100vh;
    margin: 0%;
    padding: 0%; */
}

.content {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px; */
    display: grid;
    /* width: 440px; */
    grid-column: 1 / 3;
    grid-row: 1;
    color: black;
    background-color: plum;
    opacity: 75%;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1 {
        background: gray;
    }
    body {
        background-image: url('./Background\ Img/rickandmortyinacar.png');
        background-repeat: repeat;
        background-size: cover;
        background-size: 100% 100%;
    }
    .content {
        color: black;
        background: gray;
        border: 2px dotted black;
    }
    .content:hover {
        background-color: red;
    }
}

@media (min-width: 600px) {
    h1 {
        color: lime;
    }
    body {
        background-image: url('./Background\ Img/rickandmortyinacar.png');
        background-repeat: repeat;
        background-size: cover;
        background-size: 100% 100%;
        border: 1px double blue;
    }
    .content {
        border: 1px solid limegreen;
        color: limegreen;
        background: black;
    }
    .content:hover {
        background-color: purple;
    }
}